#navbar{
    border-bottom: solid grey 0.1rem;
}
#main{
    padding: 0 0.4rem;
}
.question{
    font-size: 0.9rem;
    max-width: 50rem;
    padding: 1rem;
}
@media (min-width:1000px){
    .question{
        border:solid rgb(179, 179, 179) 0.01rem;
        border-radius: 0.8rem;
        margin: 1rem auto;
    }
    
}
.question-block{
    font-family: 'Noto Sans','微軟正黑體','Microsoft JhengHei','新細明體',Arial,sans-serif,Verdana,Arial,Helvetica,sans-serif;
    color:rgb(202, 202, 202)
}
.question-answer{
    align-content: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 0.2rem;
}
.question-input{
    width: 2rem;
    height: 1.5rem;
    color:rgb(255, 228, 152);
    background-color: rgba(0, 0, 0, 0);
    border: solid 0.06rem rgb(94, 94, 94);
    border-radius: 0.3rem;
}
input.question-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.question-output{
    width: 4rem;
    height: 1.5rem;
    background-color: rgba(219, 219, 195, 0.842);
    margin-right: 0.2rem;
    border-radius: 0.3rem;
    border: 0;
}
.btn-answer{
    background-color: rgba(136, 136, 136, 0.733);
    color: rgb(214, 214, 214);
    width: auto;
    height: 1.5rem;
    border-radius: 0.3rem;
    border: 0;
}
.btn-answer:focus{
    color: rgb(156, 195, 212);
}