body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("rainbow.png");
    background-attachment: fixed;
    background-position: center;
}
header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 44px;
    line-height: 1.5;
    width: 100%;
    display: table;
    overflow: hidden;

    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #5f5f5f;
    color: #f1f1f1;
}
header a{
    margin: none;
    border: none;
    width: 52px;
    padding: 11px 15px 13px 15px;
    display: flexbox;

    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: gray;
}
header a:hover{
    background-color: rgb(209, 209, 209);
}
body div{
    max-width: 80vw;
    margin: auto;
}
h1{
    margin: 1em auto 1em auto;
    border-radius: 1em;
    padding: 0.3em;
    width: 15em;
    background-color: rgba(95, 95, 95, 0.226);
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:rgb(252, 242, 200);
}
div#main{
    background-color: rgba(255, 255, 255, 0.82);
    padding-bottom: 100%;
    border-color:white;
    border-width: 1.8em;
    border-style: solid;
}
div#main #date{
    margin:0;
    padding: 0.5em;
    font-size: small;
    color:rgb(66, 170, 255);
}
div#main div#paragraph-1{
    padding: 0.5em 2.25em;
}
#quote{
    border-left: 0.3em solid rgb(156, 156, 156);
    padding-left: 10px;
    margin: 0px;
}
